<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Palu Dev Day 2019</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <style>
  @import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

  html, body {
    font-family: 'Work Sans', sans-serif;
  }

  #hero {
    background: linear-gradient(45deg, #0c4592 20%, #0584d5);
    color: #fff;
  }
  .img {
    width: 172px;
    height: 172px;
  }

  .hammercode-logo {
    width: 220px;
    height: 180px;
  }

  .tokped-logo {
    width: 180px;
    height: 48px;
  }

  .anakuntad-logo {
    height: 80px;
    width: 80px;
  }

  .teknoevent-logo {
    height: 80px;
    width: 80px;
  }

  .circle {
    border-radius: 100%;
  }

  .section-spacing {
    padding: 4rem 0;
  }

  .section-spacing--lg {
    padding: 8rem 0;
  }

  .speaker-detail {
    text-align: center;
  }

  .speaker-detail img {
    margin-bottom: 1rem;
  }

  .speaker-name {
    font-weight: bold;
  }

  .speaker-position {
    color: #555;
  }

  .event-logo {
    height: 100px;
    width: 120px;
  }

  @media(min-width: 992px) {
    .container {
      max-width: 992px;
    }
  }
  </style>
</head>
<body>

  <section id="hero" class="section-spacing--lg">
    <div class="container mx-auto">
      <div class="text-center ">
        <img class="event-logo mx-auto mb-8" src="/img/paludevday.png" alt="paludevday">
        <h1 class="p-2 font-bold">
          <span class="text-2xl">Palu Dev Day 2019</span><br>
          <span class="text-4xl">Rise Up, Youth!</span><br>
          <span class="text-4xl">Get Ready For The Tech Era</span>
        </h1>
        <p class="text-xl mb-8 font-bold">Sabtu, 26 Oktober 2019 @ Gedung Theater Untad</p>

        <a target="_blank" rel="noopener" href="https://api.whatsapp.com/send?phone=6285225575696&text=halo%20kami%20ingin%20jadi%20sponsor%20paludevday2019" class="inline-block cursor-pointer px-4 py-2 border border-white text-white rounded">
          Menjadi Sponsor
        </a>

      </div>
    </div>
  </section>

  <section id="opening" class="section-spacing">
    <div class="container mx-auto text-center p-2">
      <p class="font-bold text-2xl mb-4">Setahun yang lalu Palu terkena bencana alam yang mengakibatkan kerugian yang sangat besar, baik secara materi maupun psikis.<p>
      <p class="font-bold text-2xl mb-2"> Dengan momen ini Kami anak-anak daerah ingin bangkit dengan kesiapan dan kematangan sumber daya manusia dalam bidang teknologi.</p>
    </div>
  </section>

  <section id="tiket" class="section-spacing">

    <div class="container mx-auto">
      <h2 class="text-center font-bold text-4xl mb-12">Tiket</h2>

      <p class="text-xl mb-4 text-center p-4 font-bold">Ayo hadir untuk mendapatkan wawasan tentang bagaimana mempersiapkan dirimu untuk menjadi sukses di era teknologi, serta cari tau bagaimana bekerja di perusahaan startup terkemuka!</p>

      <div class="text-center mt-8 mb-4">
        <span class="inline-block text-4xl p-4 text-blue-500  text-center">Hanya Tersedia 300 Tiket, Segera Dapatkan!</span>
      </div>

      <div class="text-center mt-8 mb-4">
        <div class="text-2xl font-bold mb-4">Harga Tiket</div>
        <div class="text-red-500 text-3xl font-bold line-through">Rp. 50.000</div>
        <div class="text-green-600 text-5xl font-bold">Rp. 40.000*</div>
        <div class="mb-4">*) Untuk 100 Tiket Pertama</div>
      </div>

      <p class="text-xl mb-4 text-center font-bold">Hubungi Tim Kami untuk pembelian</p>
      <ul class="text-xl font-bold text-center">
        <li><a rel="noopener" target="_blank" href="https://api.whatsapp.com/send?phone=6281241261468&text=Tanya%20paludevday2019">0812 4126 1468 - Arif</a></li>
        <li><a rel="noopener" target="_blank" href="https://api.whatsapp.com/send?phone=6282213777029&text=Tanya%20paludevday2019">0822 1377 7029 - Dwi</a></li>
        <li><a rel="noopener" target="_blank" href="https://api.whatsapp.com/send?phone=6282291676911&text=Tanya%20paludevday2019">0822 9167 6911 - Adi</a></li>
        <li><a rel="noopener" target="_blank" href="https://api.whatsapp.com/send?phone=6281355893352&text=Tanya%20paludevday2019">0813 5589 3352 - Affandi</a></li>
      </ul>
    </div>
  </section>

  <section id="speakers" class="section-spacing">

    <div class="container mx-auto">
      <h2 class="text-center font-bold text-2xl mb-12">Pembicara</h2>
      <div class="flex flex-col md:flex-row">
        <!-- <div class="flex-1 speaker-detail mb-8">
          <img class="img circle mx-auto" src="/img/andipang.jpeg" alt="">
          <h3 class="speaker-name">Andi Pangeran (TBD)</h3>
          <p class="speaker-position">Product Engineer @ Go-Pay</p>
        </div> -->

        <div class="flex-1 speaker-detail mb-8">
          <img class="img circle mx-auto" src="/img/isfha.jpg" alt="">
          <h3 class="speaker-name">Muh. Isfhani Ghiath</h3>
          <p class="speaker-position">Software Engineer @ Tokopedia</p>
        </div>
      </div>

      <div class="p-4">
        <p class="text-center text-3xl font-bold text-green-600">Dan Pembicara-pembicara Lainnya! <br> <span class="text-xl">(Sedang dikonfirmasi)</span></p>
      </div>
    </div>

  </section>

  <section id="sponsors" class="section-spacing">
    <div class="container mx-auto mb-8">
      <div class="text-center">
        <h2 class=" font-bold text-2xl mb-4">Platinum Sponsors</h2>
      </div>

      <div class="text-center">
        <p class="text-gray-600 p-8 text-4xl">Your Company Logo</p>
      </div>
    </div>

    <div class="container mx-auto mb-8">
      <div class="text-center">
        <h2 class=" font-bold text-2xl mb-4">Gold Sponsors</h2>
      </div>

      <div class="text-center">
        <p class="text-gray-600 p-8 text-2xl">Your Company Logo</p>
      </div>
    </div>

    <div class="container mx-auto">
      <div class="text-center">
        <h2 class=" font-bold text-2xl mb-4">Supported By</h2>
      </div>

      <div>
        <a target="_blank" rel="noopener" href="https://tokopedia.com?source_utm=paludevday"><img src="https://ecs7.tokopedia.net/microsite-production/brand-asset/dlc/logo/hires-tokopedia-logo.png" class="mx-auto tokped-logo" alt="tokopedia logo"></a>
      </div>
    </div>
  </section>

  <div class="container mx-auto">
      <div class="text-center">
        <h2 class=" font-bold text-2xl mb-8">Media Partner</h2>
      </div>

      <div class="flex justify-center">
        <div style="width: 120px">
          <a target="_blank" rel="noopener" href="#"><img src="/img/teknoevent.png" class="mx-auto teknoevent-logo" alt="teknoevent logo"></a>
        </div>
        <div style="width: 120px">
          <a target="_blank" rel="noopener" href="https://anakuntad.com/"><img src="/img/anakuntad.jpg" class="mx-auto anakuntad-logo" alt="anakuntad logo"></a>
        </div>
      </div>
    </div>
  </section>

  <section id="organizer" class="section-spacing">
    <div class="container mx-auto">
      <div class="text-center">
        <h2 class=" font-bold text-2xl">Organizer</h2>
      </div>

      <div>
        <a target="_blank" rel="noopener" href="https://www.facebook.com/groups/695578487303771/"><img src="/img/hammercode-logo-1.svg" class="mx-auto hammercode-logo" alt="hammercode logo"></a>
      </div>
    </div>
  </section>

  <section class="section-spacing">
    <div class="container mx-auto">
      <div class="text-center">
        <a target="_blank" rel="noopener" href="https://api.whatsapp.com/send?phone=6285225575696&text=halo%20kami%20ingin%20jadi%20sponsor%20paludevday2019" class="inline-block cursor-pointer px-8 py-4 text-2xl border border-blue-500 bg-blue-500 text-white rounded">
          Menjadi Sponsor
        </a>
      </div>
    </div>
  </section>

  <section id="contacts" class="section-spacing bg-black text-white">
    <div class="container mx-auto">
      <h2 class="font-bold text-2xl text-center mb-8">Kontak</h2>

      <ul class="text-xl font-bold text-center">
        <li><a rel="noopener" target="_blank" href="https://api.whatsapp.com/send?phone=6281241261468&text=Tanya%20paludevday2019">0812 4126 1468 - Arif</a></li>
        <li><a rel="noopener" target="_blank" href="https://api.whatsapp.com/send?phone=6282213777029&text=Tanya%20paludevday2019">0822 1377 7029 - Dwi</a></li>
        <li><a rel="noopener" target="_blank" href="https://api.whatsapp.com/send?phone=6282291676911&text=Tanya%20paludevday2019">0822 9167 6911 - Adi</a></li>
        <li><a rel="noopener" target="_blank" href="https://api.whatsapp.com/send?phone=6285225575696&text=Tanya%20paludevday2019">0852 2557 5696 - Ijal</a></li>
      </ul>
    </div>
  </section>

  <footer class="bg-black text-white">
    <div class="container mx-auto">
      <div class="p-8 text-center">
        2019 Palu Dev Day
      </div>
    </div>
  </footer>
</body>
</html>
