<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <h1>Login</h1>

  <form action="/backoffice/login" method="post">
    <div>
      <input type="email" name="email">
    </div>
    <div>
      <input type="password" name="password">
    </div>
    <div>
      <button>Login</button>
    </div>
  </form>
</body>
</html>
